<head>
    <title>Homewizard Scheduler</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link rel="icon" href="{{url_for('static',filename='drop.png')}}"></link>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}" media="screen"/>
</head>
<body>

<div id="page_wrapper">
<div class="sticky">Homewizard Scheduler</div>    
<form action="/timer/" method="post">
<p>
<div class="slidecontainer">
<div class="labels">Hours:  <span id="hours_value"></span></div>
<input type="range" name="hours" class="slider" id="hours" list="hours_list"
  step="1" min="0" max="5">
<datalist id="hours_list">
  <option>0</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</datalist>
</div>

<script>
var slider = document.getElementById("hours");
var output = document.getElementById("hours_value");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

<div class="slidecontainer">
<div class="labels">Minutes: <span id="minutes_value"></span></div>
<input type="range" name="minutes" class="slider" id="minutes" list="minutes_list"
  step="2" min="0" max="50">
<datalist id="minutes_list">
  <option>0</option>
  <option>2</option>
  <option>10</option>
  <option>20</option>
  <option>30</option>
  <option>40</option>
  <option>50</option>
</datalist>
</div>    
</p>

<script>
var slider2 = document.getElementById("minutes");
var output2 = document.getElementById("minutes_value");
output2.innerHTML = slider2.value;

slider2.oninput = function() {
output2.innerHTML = this.value;
}
</script>

<div class="labels">Start action </div>
<center><input type="checkbox" id="actionOn" name="actionOn" value="actionOn"></center>
<br>
<button name="scheduleBtn" type="submit" class="block">Activate scheduler</button>
</form>
   
</div>

</body>

